body, html {
    margin: 0;
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

h1 {
    margin-top: 2rem; /* Reduzindo a margem superior do título */
}

.myId {
    margin: 2rem auto;
    border-radius: 2px;
    background: #c9d6ff;
    padding: 2rem;
    display: grid;
    justify-content: center;
    align-content: center;
    max-width: 350px;
    width: 100%;
}

.buttonContainer {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

.call-button {
    text-align: center;
    margin-top: 2rem;
}

.video {
    border: 2px solid #fff;
    border-radius: 8px;
    margin: 0.5rem;
    overflow: hidden;
}

video {
    width: 100%;
    height: auto;
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    margin-bottom: 2rem;
}

.callReceived {
    text-align: center;
    color: #161616;
    margin-top: 1rem;
}

.caller {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    background: #97a6ca;
    background: -webkit-linear-gradient(to right, #d0c4e4, #1c9412);
    background: linear-gradient(to right, #54e96d, #49c5a0);
}
