.chat-container {
  width: 92%;
  height: 94%;
  border: 0px solid #ccc;
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.message-list {
  width: auto;
  flex-grow: 1;
  overflow-y: auto;
  list-style-type: none;
  margin: 0;
  padding: 8px;
  background-color: aliceblue;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.message {
  padding: 8px 16px;
  margin: 4px 0;
  border-radius: 12px;
  word-wrap: break-word;
  white-space: pre-wrap;
}

.message.user {
  text-align: right;
  background-color: #f0f0f0;
  align-self: flex-end;
}

.message.assistant {
  text-align: left;
  background-color: #bac7c8;
  align-self: flex-start;
}

.input-container {
  display: flex;
  align-items: center;
  padding: 8px;
  background-color: #f0f8ff;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.chat-input {
  flex-grow: 1;
  height: 20px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-right: 8px;
}
