.sidebar {
  background-color: #282c34;
  border-right: 1px solid #282c34;
  transition: width 0.3s;
  width: 66px;
  height: auto;
  display: flex;
  flex-direction: column;
}

.sidebar.open {
  width: 155px;
}

ul {
  list-style: none;
  padding: 0;
  width: 100%;
}

li {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s, padding 0.3s;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

li:hover {
  background-color: #444;
}

.icon {
  margin-right: 10px;
  font-size: 24px;
  color: #ddd;
  flex-shrink: 0;
}

.sidebar.collapsed .icon {
  margin: 0;
}

.sidebar.collapsed span {
  display: none;
}

.sidebar .text {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.sidebar.open .text {
  opacity: 1;
}

.centered-buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.centered-buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.centered-buttons button {
  border-radius: 10px;
  background-color: #282c34;
  color: white;
  border: none;
  padding: 80px 70px;
  font-size: 18px;
  display: flex;
  gap: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  justify-content: center;
}

.centered-buttons button:hover {
  background-color: #444;
}

.centered-buttons .icon {
  font-size: 24px;
}
